.layout {
    width: 100%;
    min-height: 100vh;
}

.layoutBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - (60px + 100px));
}
